.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list{
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-right: 178px;
}
.nav__item{
  margin-right: 52px;

  &:last-child{
    margin-right: 0px;
  }
}
.nav__network-links{
  padding-left: 7px;
  display: flex;
}
.nav__net-link{
  margin-left: 17px;
}
.nav__network-link-img{
  display: block;
}
.nav__item-link{
  @include desc-style(700,12px,16px);
  text-transform: uppercase;
  letter-spacing: 10%;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease all;


  &:hover{
    opacity: 0.6;
  }
}
.nav__btn{
  @include desc-style(700,12px,16px);
  color: rgba(255, 255, 255, 1);
  height: 30px;
  width: 85px;
  border: none;
  padding: 4px 36px 5px 0px;
  border-right: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  transition: 0.3s ease all;


  &:hover{
    color: #000;
  }
}
@media only screen and (max-width: 1208px){
  .nav{
    display: none;
    height: 100vh;
    width: 100%;
    padding: 40px 34px;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 100%;
    flex-direction: column;
    align-items: stretch;

  }
  .nav__list{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav__item{
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .nav__item-link{
    @include desc-style(700,18px,16px);
    text-transform: uppercase;
    letter-spacing: 15%;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s ease all;


    &:hover{
      opacity: 0.6;
      color: rgba(255, 181, 72, 1);
    }
  }
  .nav__btn{
    display: block;
    position: absolute;
    top: -40px;
    right: 65px;
    width: 65px;
    padding: 4px 30px 5px 0px;
  }
  .nav__network-links{
    justify-content: center;
  }
  .nav__net-link:nth-child(1){
    margin-left: 0px;
  }
  .nav-opened{
    display: flex;
  }

}
@media only screen and (max-width:689px){
  .nav{
    height: 100vh;
    width: 100%;
    padding: 30px 14px;
    left: 0px;
   }
  .nav__item{
    margin-bottom: 40px;
  }
  .nav__item-link{
    @include desc-style(700,14px,12px);
    text-transform: uppercase;
    letter-spacing: 10%;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s ease all;


    &:hover{
      opacity: 0.6;
      color: rgba(255, 181, 72, 1);
    }
  }
  .nav__btn{
    top: -29px;
    right:55px;
    width: 40px;
    height: 27px;
    padding: 4px 30px 5px 0px;
  }

}